In [1]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv("wells.txt",sep=" ", delimiter="\t")

In [24]:
data.head()

  switch "arsenic" "dist" "assoc" "educ"
0          1 1 2.36 16.8260002136230 0 0
1          2 1 0.71 47.3219985961914 0 0
2         3 0 2.07 20.9669990539551 0 10
3         4 1 1.15 21.4860000610352 0 12
4          5 1 1.1 40.8740005493164 1 14