In [3]:
library(rvest)
library(dplyr)
library(stringr)
library(tidyverse)
library(forcats)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [11]:
html_superbowl <- read_html("https://espn.go.com/nfl/superbowl/history/winners")
df_superbowl <- html_table(html_nodes(html_superbowl, "table")[[1]], fill=TRUE)

In [12]:
head(df_superbowl)

  X1                             X2
1 Super Bowl Winners and Results Super Bowl Winners and Results
2 NO.                            DATE
3 I                              Jan. 15, 1967
4 II                             Jan. 14, 1968
5 III                            Jan. 12, 1969
6 IV                             Jan. 11, 1970
  X3                             X4
1 Super Bowl Winners and Results Super Bowl Winners and Results
2 SITE                           RESULT
3 Los Angeles Memorial Coliseum  Green Bay 35, Kansas City 10
4 Orange Bowl (Miami)            Green Bay 33, Oakland 14
5 Orange Bowl (Miami)            New York Jets 16, Baltimore 7
6 Tulane Stadium (New Orleans)   Kansas City 23, Minnesota 7

In [13]:
html_world_ports <- read_html("https://en.wikipedia.org/wiki/List_of_busiest_container_ports")
df_world_ports <- html_table(html_nodes(html_world_ports, "table")[[1]], fill = TRUE)

In [ ]:
df_world_ports <- gather(df_world_ports, year, volume, 4:15)

In [ ]:
df_world_ports <- df_world_ports %>%
                                mutate(Jurisdiction=as.factor(str_trim(Jurisdiction)), Port=as.factor(Port),
                                      year=as.factor(year), volume=as.numeric(str_replace(volume, ",", "")))

In [17]:
head(df_world_ports)

  Rank Port            Jurisdiction  year    volume
1 1    Shanghai        China         2015[1] 36516
2 2    Singapore       Singapore     2015[1] 30922
3 3    Shenzhen        China         2015[1] 24142
4 4    Ningbo-Zhoushan China         2015[1] 20636
5 5    Hong Kong       Hong Kong SAR 2015[1] 20073
6 6    Busan           South Korea   2015[1] 19469