In [22]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymc3 as pm
import pystan
import statsmodels.api as sm
import statsmodels.formula.api as smf

/Users/PY/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [23]:
data = pd.read_csv("McAlindon_Big.csv")
print(data.shape)
data.head()

(15428, 43)

,ID,Race,age,Income,bmi,treat,sex,nsaid,Occupation,retire,...,stiff.4,physi.7,stiff.7,WeatherDate,avgdewpt,avgtemp,maxtemp,mintemp,precip,press
0,178,White Non-Hispanic,65,"<$14,999",24.429492,1,1,1,Retired,2.0,...,2.0,18.0,0.0,57,56.0,70.0,86.0,53.0,0.0,27.62
1,178,White Non-Hispanic,65,"<$14,999",24.429492,1,1,1,Retired,2.0,...,2.0,18.0,0.0,58,58.0,74.0,86.0,61.0,0.0,27.56
2,178,White Non-Hispanic,65,"<$14,999",24.429492,1,1,1,Retired,2.0,...,2.0,18.0,0.0,59,58.0,67.0,73.0,61.0,0.0,27.78
3,178,White Non-Hispanic,65,"<$14,999",24.429492,1,1,1,Retired,2.0,...,2.0,18.0,0.0,60,56.0,68.0,76.0,60.0,0.0,27.81
4,178,White Non-Hispanic,65,"<$14,999",24.429492,1,1,1,Retired,2.0,...,2.0,18.0,0.0,61,56.0,64.0,77.0,51.0,0.0,27.89

In [3]:
# Extract the first obs for each individual
ID_idx = {}
for i, j in enumerate(data['ID']):
    ID_idx[j] = ID_idx.get(j, i)
Big = data.iloc[[value for (key, value) in sorted(ID_idx.items())],:]
Big.shape
Big.columns.values

array(['ID', 'Race', 'age', 'Income', 'bmi', 'treat', 'sex', 'nsaid',
       'Occupation', 'retire', 'agecat', 'inccat', 'racecat', 'opiate',
       'severe2', 'race2', 'pain.1', 'lastdt1', 'pain.2', 'lastdt2',
       'pain.3', 'lastdt3', 'pain.4', 'lastdt4', 'pain.5', 'lastdt5',
       'pain.6', 'lastdt6', 'pain.7', 'lastdt7', 'physi.1', 'stiff.1',
       'physi.4', 'stiff.4', 'physi.7', 'stiff.7', 'WeatherDate',
       'avgdewpt', 'avgtemp', 'maxtemp', 'mintemp', 'precip', 'press'], dtype=object)

In [4]:
# Predictors
predictors = ['age', 'treat', 'sex', 'nsaid', 'race2', 'inccat', 'Occupation']
pain_cols = np.array([16, 18, 20, 22, 24, 26, 28])
time_cols = pain_cols + 1

In [5]:
ids = Big["ID"]
dat = pd.DataFrame()

In [6]:
for i in range(len(ids)):
    id0 = ids.values[i]
    temp = data[data["ID"]==id0]
    zi = temp[["ID"]+predictors]
    pain = temp.iloc[0,pain_cols]
    pain = pain[pain.notnull()]
    time = temp.iloc[0,time_cols]
    temperature = temp["avgtemp"][[d in [k for k in time] for d in temp["WeatherDate"]]]
    time = time[time.notnull()]
    time-time[0]
    zi = zi[[d in [k for k in time] for d in temp["WeatherDate"]]]
    data_t = pd.concat([pd.concat([pain.reset_index(drop=True), time.reset_index(drop=True)],axis=1), temperature.reset_index(drop=True)], axis=1)
    data_t.columns = ["pain", "time", "temperature"]
    data_t = pd.concat([zi.reset_index(drop=True),data_t], axis=1)
    dat = pd.concat([dat,data_t], axis=0)

In [51]:
dat = dat[dat.iloc[:,0].notnull()]

In [52]:
dat.iloc[0:10,:]

,ID,age,treat,sex,nsaid,race2,inccat,Occupation,pain,time,temperature
0,178.0,65.0,1.0,1.0,1.0,1.0,1.0,Retired,7,57,70.0
1,178.0,65.0,1.0,1.0,1.0,1.0,1.0,Retired,6,99,56.0
2,178.0,65.0,1.0,1.0,1.0,1.0,1.0,Retired,8,113,48.0
3,178.0,65.0,1.0,1.0,1.0,1.0,1.0,Retired,8,127,35.0
4,178.0,65.0,1.0,1.0,1.0,1.0,1.0,Retired,7,141,36.0
0,180.0,59.0,0.0,2.0,1.0,1.0,3.0,RETIRED,16,3,67.0
1,180.0,59.0,0.0,2.0,1.0,1.0,3.0,RETIRED,7.5,18,65.0
2,180.0,59.0,0.0,2.0,1.0,1.0,3.0,RETIRED,7,32,65.0
3,180.0,59.0,0.0,2.0,1.0,1.0,3.0,RETIRED,12.5,45,78.0
4,180.0,59.0,0.0,2.0,1.0,1.0,3.0,RETIRED,6,59,58.0

In [79]:
# Change some types for each columns
dat["ID"] = dat["ID"].astype(int)
dat["age"] = dat["age"].astype(int)
dat["treat"] = dat["treat"].astype(int)
dat["sex"] = dat["sex"].astype(int)
dat["race2"] = dat["race2"].astype(int)
dat["pain"] = dat["pain"].astype(float)
dat["time"] = dat["time"].astype(int)

In [80]:
dat.iloc[0:10,:]

,ID,age,treat,sex,nsaid,race2,inccat,Occupation,pain,time,temperature
0,178,65,1,1,1.0,1,1.0,Retired,7.0,57,70.0
1,178,65,1,1,1.0,1,1.0,Retired,6.0,99,56.0
2,178,65,1,1,1.0,1,1.0,Retired,8.0,113,48.0
3,178,65,1,1,1.0,1,1.0,Retired,8.0,127,35.0
4,178,65,1,1,1.0,1,1.0,Retired,7.0,141,36.0
0,180,59,0,2,1.0,1,3.0,RETIRED,16.0,3,67.0
1,180,59,0,2,1.0,1,3.0,RETIRED,7.5,18,65.0
2,180,59,0,2,1.0,1,3.0,RETIRED,7.0,32,65.0
3,180,59,0,2,1.0,1,3.0,RETIRED,12.5,45,78.0
4,180,59,0,2,1.0,1,3.0,RETIRED,6.0,59,58.0

In [60]:
d1 = dat[dat["pain"].notnull()]

In [70]:
md = smf.mixedlm("pain ~ time", d1, groups=d1["treat"])

In [72]:
free = sm.regression.mixed_linear_model.MixedLMParams.from_components(np.ones(2), np.eye(2))

mdf = md.fit(free=free)

IndexError: list index out of range

In [69]:
md.group_labels

[44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 98]

In [27]:
dat["race2"]=pd.Series(dat["race2"], dtype="category")

In [36]:
dat["race2"]

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
0    1.0
1    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
0    0.0
1    0.0
2    0.0
3    0.0
0    0.0
1    0.0
2    0.0
    ...
5    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
0    1.0
1    1.0
2    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: race2, Length: 1142, dtype: category
Categories (2, float64): [0.0, 1.0]

In [29]:
test = sm.datasets.get_rdataset('dietox', 'geepack').data

In [35]:
test.iloc[:,3]

0      4601
1      4601
2      4601
3      4601
4      4601
5      4601
6      4601
7      4601
8      4601
9      4601
10     4601
11     4601
12     4643
13     4643
14     4643
15     4643
16     4643
17     4643
18     4643
19     4643
20     4643
21     4643
22     4643
23     4643
24     4756
25     4756
26     4756
27     4756
28     4756
29     4756
       ...
831    8270
832    8270
833    8270
834    8270
835    8270
836    8270
837    8439
838    8439
839    8439
840    8439
841    8439
842    8439
843    8439
844    8439
845    8439
846    8439
847    8439
848    8439
849    8442
850    8442
851    8442
852    8442
853    8442
854    8442
855    8442
856    8442
857    8442
858    8442
859    8442
860    8442
Name: Pig, Length: 861, dtype: int64